
@{
    ViewBag.Title = "ActiveSeller";
}

<div class="alert alert-success text-center mt-8 mb-8">
    <h2> فروشنده عزیز،آقا/خانم @ViewBag.Name </h2>
    <div class="mb-2">
        ایمیل شما با موفقیت تایید شد.لطفا برای تایید نهایی توسط ادمین کمی صبر کنید!
    </div>
    <div class="mb-2">
        نتیجه به شما اطلاع داده میشود!!
    </div>
    <div>
        <a href="/" class="btn btn-light text-center text-success shpl">بازگشت به صفحه اصلی</a>
    </div>
</div>

