@model DataLayer.Products

<div id="EditBrand">
    <form method="post" action="/admin/products/EditProductBrand/@Model.ProductID">
        <input type="hidden" name="ProductID" value="@Model.ProductID" id="pid" />
        <input type="hidden" name="PBID" value="@Model.ProductBrand.Single(p=>p.ProductID==Model.ProductID).PBID" />
        <div dir="rtl">
            <label>برند محصول</label>
            <select name="BrandID">
                <option>برند</option>
                @{
                    List<DataLayer.Brands> list = ViewBag.Brands;
                }
                @foreach (var item in list)
                {
                    <option value="@item.BrandID">@item.BrandTitle</option>
                }
            </select>
            <div>
                برند مورد نظر خود را پیدا نکردید؟<a href="/admin/products/brands" class="btn btn-outline-info">افزودن برند جدید</a>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="ثبت" class="btn btn-outline-success" />
        </div>
    </form>
</div>
